{% load getattribute %}
<ol>
    {% for question in questions %}
        <li>
            Type: {{ question.type }}. Text: {{ question.text }}
            {% if question.type != 1%}
                {% with question_id=question.id|stringformat:"i" %}
                    {% with answers_ex="answers_"|add:question_id %}
                        {% for answer in answers|getattribute:answers_ex %}
                            <input type={% if question.type == 2 %}"radio"{% elif question.type == 3%}"checkbox"{% endif %} id="answer{{ forloop.counter }}" name="{{ question.id }}" value="{{ answer.text }}">
                            <label for="answer{{ forloop.counter }}">{{ answer.text }}</label>
                        {% endfor %}
                    {% endwith %}
                {% endwith %}
            {% else %}
                <input type="text" id="answer0" name="{{ question.id }}">
                <label for="answer0">Your answer</label>
            {% endif %}
        </li>
    {% endfor %}
</ol>